<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="セイコーエプソン株式会社、エプソン販売株式会社の企業・IR・CSR情報を提供しています。">
<title>テンプレ記事基本２ | サステナビリティ | エプソン</title>
<!--#include virtual="/assets/include/common-css.txt" -->
<!--#include virtual="/assets/include/common-js.txt" -->
</head>
<body>
<!--#include virtual="/assets/include/body-first.txt" -->
<!--#include virtual="/ja/assets/include/header.txt" -->
<main id="main">
  <div class="breadcrumbs-list sitemap-link"></div>
<!--#include virtual="/ja/technology/assets/include/nav.txt" -->
<!-- ========== main contents area - begin ========== -->

    
    <!-- タブ -->
  <div class="contents-area _mt10">
    <div class="inner">
      <ul class="row df clearfix">
        <li class="grid3 _mt20"><a href="" class="button01 -center -current">タブを作成01</a></li>
        <li class="grid3 _mt20"><a href="" class="button01 -center">タブを作成02</a></li>
        <li class="grid3 _mt20"><a href="" class="button01 -center">タブを作成02タブを作成02タブを作成02</a></li>
        <li class="grid3 _mt20"><a href="" class="button01 -center">タブを作成02</a></li>
      </ul>
    </div>
  </div>
    <!-- /タブ -->
    


    
    
    <div class="contents-area">
    <div class="inner">
        
        
    <!-- タイトル表題 -->
        <div class="heading01">
            <h1>タイトル表題テキスト：h1</h1>
        </div>
    <!-- /タイトル表題 -->
        
		<div class="anchorNav">
			<ul class="clearfix mb20">
				<li class="arrow-anchor"><a href="#01">大見出し：基本の内容</a></li>
				<li class="arrow-anchor"><a href="#02">リストを作成する</a></li>
				<li class="arrow-anchor"><a href="#03">画像またはリンクを作成する</a></li>
				<li class="arrow-anchor"><a href="#04">画像のみコンテンツ</a></li>
				<li class="arrow-anchor"><a href="#05">サムネイルタイル</a></li>
				<li class="arrow-anchor"><a href="#06"> 関連情報：画像つきリンク（4列）</a></li>
				<li class="arrow-anchor"><a href="#07">関連情報：テキストのみリンク</a></li>
				<li class="arrow-anchor"><a href="#08">関連情報：ボタンリンク（ベタ塗り）</a></li>
				<li class="arrow-anchor"><a href="#09">FAQ</a></li>
				<li class="arrow-anchor"><a href="#10">表01</a></li>
				<li class="arrow-anchor"><a href="#12">大見出し配下を囲う</a></li>
				<li class="arrow-anchor"><a href="#13">段組み</a></li>
			</ul>
		<!-- /anchorNav --></div>
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="01">大見出し h2：基本の内容</h2>
    </div>
    <!-- /大見出し -->
        
    <!-- 中見出し -->
    <div class="heading03">
        <h3>中見出し h3</h3>
    </div>
    <!-- /中見出し -->
        
    <!-- 小見出し -->
    <h4 >小見出し h4</h4>
    <!-- /小見出し -->
        
        
        
        <p>基本の文字（1.6rem、16px）　※text-mは基本指定しない</p>
        <p class="_mt20 tIndent">段落間のスペースは、基本_mt20（_mb20）クラスで指定すること<br>
        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
        <p class="_mt20 tIndent">tIndent で行頭字下げ内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</p>
        
        <p class="_mt20">和文の字下げはtIndent継続利用和文の字下げはtIndent継続利用和文の字下げはtIndent継続利用和文の字下げはtIndent継続利用和文の字下げはtIndent継続利用和文の字下げはtIndent継続利用和文の字下げはtIndent継続利用</p>
        
        
        <p class=" _center _mt20">中央寄文字 _center</p>
        
        <p class=" _right _mt20">右寄文字 _right</p>
        
        
        <p class="_mt20">文字列の中にリンクがある場合文字列の中にリンクがある場合<a class="arrow" href="リンク先" target="_blank">サイト内リンク</a>文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合</p>
        <p>文字列の中にリンクがある場合文字列の中にリンクがある場合<a class="arrow-blank" href="リンク先" target="_blank">サイト外リンク リンク範囲をテキストだけに変更</a>文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合</p>
        <p>文字列の中にリンクがある場合<a class="arrow-anchor" href="#">ページ内リンク</a>文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合</p>
        
        <p class="tIndent">文字列の中にリンクがある場合文字列の中にリンクがある場合<a class="arrow" href="リンク先" target="_blank">サイト内リンク</a>文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合</p>
        <p class="tIndent">文字列の中にリンクがある場合文字列の中にリンクがある場合<a class="arrow-blank" href="リンク先" target="_blank">サイト外リンク リンク範囲をテキストだけに変更</a>文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合</p>
        <p class="tIndent _mt20">文字列の中にリンクがある場合<a class="arrow-anchor" href="#">ページ内リンク</a>文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合文字列の中にリンクがある場合</p>
        
        
        <p class="fsS">fsS 小さい文字用小さい文字用小さい文字用小さい文字用小さい文字用</p>
        <p class="fsL">fsL 大きい文字用大きい文字用大きい文字用</p>
        
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="02">大見出し：リスト</h2>
    </div>
    <!-- /大見出し -->
        
    <p class="_mb30">大見出しの上部には自動で70pxのマージンがつく</p>

        
        <ul class="list-disc">
            <li>ああああああ
                <ul class="list-circle">
                    <li>ああああああああああああああああああああああああああああああ
                        <ul class="list-square">
                            <li>ああああああああああああああああああああああああああああああ</li>
                            <li>ああああああ
                                <ul class="list-circle">
                                    <li>ああああああ</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>ああああああああああああああああああああああああああああああ
                        <ul class="list-square">
                            <li>ああああああああああああああああああああああああああああああ</li>
                            <li>ああああああ
                                <ul class="list-disc">
                                    <li>ああああああ</li>
                                </ul>
                                <ul class="">
                                    <li>入れ子側にクラス指定ない場合は、アイコンがない</li>
                                    <li>入れ子側にクラス指定ない場合は、アイコンがただ消えただけの位置</li>
                                </ul>
                                <ul class="list-none">
                                    <li>アイコンがなしクラス</li>
                                    <li>アイコンがなしクラス</li>
                                    <li>アイコンがなしクラス</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>ああああああああああああああああああ</li>
        </ul>
        
        <ul class="list-circle _mt30">
            <li>ああああああ</li>
            <li>ああああああああああああああああああああああああああああああ</li>
        </ul>
        
        <ul class="list-square _mt30">
            <li>ああああああああああああああああああああああああああああああ</li>
            <li>ああああああ</li>
        </ul>
        
        <ol class="list-decimal _mt30">
            <li>ああああああああああああああああああああああああああああああ</li>
            <li>数字リストー</li>
        </ol>
        
        <ol class="list-upper-alpha _mt30">
            <li>ああああああああああああああああああああああああああああああ
                        <ul class="list-square">
                            <li>ああああああああああああああああああああああああああああああ</li>
                            <li>ああああああ
                                <ul class="list-disc">
                                    <li>ああああああ</li>
                                    <li>指定の逆順だと解除が必要</li>
                                </ul>
                            </li>
                        </ul>
            </li>
            <li>アルファベット大文字
                <ol class="list-decimal">
                    <li>ああああああああああああああああああああああああああああああ</li>
                    <li>数字リストー　入れ子解除が必要</li>
                </ol>
            
            </li>
        </ol>
        
        
        
        
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="03">大見出し：画像またはリンク</h2>
    </div>
    <!-- /大見出し -->
        
        <p>画像はfigureで囲む</p>
    
    <!-- 画像 -->
    <figure class="_mb20">
        <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
        <figcaption>aaaaaaaaa</figcaption>
    </figure>
    <!-- 画像 -->
    <figure class="_mb20 _center">
        <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
        <figcaption>aaaaaaaaa</figcaption>
    </figure>
    <!-- 画像 -->
    <figure class="_mb20 _right">
        <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
        <figcaption>aaaaaaaaa</figcaption>
    </figure>
        
    <p><a class="arrow" href="リンク先" target="_blank">サイト内リンク</a></p>
    <p><a class="arrow-blank" href="リンク先" target="_blank">サイト外リンク リンク範囲をテキストだけに変更</a></p>
    <p><a class="arrow-blank" href="リンク先" target="_blank">PDFリンク（外部リンクと同じ）</a></p>
    <p><a class="arrow-anchor" href="#">ページ内リンク</a></p>
    
        
    
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="04">大見出し：画像のみコンテンツ</h2>
    </div>
    <!-- /大見出し -->
        
    <figure class="_center _mb30">
        <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
        <figcaption>aaaaaaaaa</figcaption>
    </figure>
        
    <div class="row df clearfix _mb30">
        <div class="grid6 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
        <div class="grid6 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
    </div>
        
        
    <div class="row df clearfix _mb30">
        <div class="grid4 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
        <div class="grid4 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
        <div class="grid4 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
    </div>
        
    <div class="row df clearfix _mb30">
        <div class="grid3 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
        <div class="grid3 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
        <div class="grid3 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
        <div class="grid3 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
        <div class="grid3 _mb20">
            <figure class="_center">
                <img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="570" height="200" alt="">
                <figcaption>aaaaaaaaa</figcaption>
            </figure>
        </div>
    </div>
        
        
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="05">大見出し：サムネイルタイル</h2>
    </div>
    <!-- /大見出し -->
        
        
<div class="card-list02 row df clearfix _mb50">
  <div class="item grid4 _sp-mb50">
    <a href="">
      <p class="image"><img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="360" height="202" alt=""></p>
      <p class="title">ここにテキストが入ります</p>
      <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
    </a>
  </div>
  <div class="item grid4 _sp-mb50">
    <a href="">
      <p class="image"><img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="360" height="202" alt=""></p>
      <p class="title">ここにテキストが入ります</p>
      <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
    </a>
  </div>
  <div class="item grid4 _sp-mb50">
    <a href="">
      <p class="image"><img src="https://placehold.jp/32/aaa/333/570x250.jpg?text=%E7%94%BB%E5%83%8F" width="360" height="202" alt=""></p>
      <p class="title">ここにテキストが入ります</p>
      <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
    </a>
  </div>
</div>
<div class="card-list02 row df clearfix _mb50">
  <div class="item grid3 _sp-mb50">
    <a href="">
      <p class="image"><img src="https://placehold.jp/32/aaa/333/570x350.jpg?text=%E7%94%BB%E5%83%8F" width="255" height="202" alt=""></p>
      <p class="title">ここにテキストが入ります</p>
      <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
    </a>
  </div>
  <div class="item grid3 _sp-mb50">
    <a href="">
      <p class="image"><img src="https://placehold.jp/32/aaa/333/570x350.jpg?text=%E7%94%BB%E5%83%8F" width="255" height="202" alt=""></p>
      <p class="title">ここにテキストが入ります</p>
      <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
    </a>
  </div>
  <div class="item grid3 _sp-mb50">
    <a href="">
      <p class="image"><img src="https://placehold.jp/32/aaa/333/570x350.jpg?text=%E7%94%BB%E5%83%8F" width="255" height="202" alt=""></p>
      <p class="title">ここにテキストが入ります</p>
      <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
    </a>
  </div>
  <div class="item grid3 _sp-mb50">
    <a href="">
      <p class="image"><img src="https://placehold.jp/32/aaa/333/570x350.jpg?text=%E7%94%BB%E5%83%8F" width="255" height="202" alt=""></p>
      <p class="title">ここにテキストが入ります</p>
      <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
    </a>
  </div>
</div>        
        <p>6個並びはやめるか？</p>
        
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="06">大見出し：関連情報：画像つきリンク（4列）</h2>
    </div>
    <!-- /大見出し -->
        
        <p>既存パーツを移植、アイコンを右側になるように変更</p>
        <p>TeamSite テンプレートのみで 使用</p>
        
		<div class="row df clearfix _mb30">
			<div class="grid3 _mb20">
				<a href="" class="thumbnail-arrow-button">
				<img src="https://placehold.jp/32/aaa/333/70x60.jpg?text=%E7%94%BB%E5%83%8F" alt="" width="70" />
				<span class="fsM fwB">リンク文字リンク文字</span></a>
            </div>
			<div class="grid3 _mb20">
				<a href="" class="thumbnail-blank-button" target="_blank">
				<img src="https://placehold.jp/32/aaa/333/70x60.jpg?text=%E7%94%BB%E5%83%8F" alt="" width="70" />
				<span class="fsM fwB">リンク文字</span></a>
            </div>
			<div class="grid3 _mb20">
				<a href="" class="thumbnail-anchor-button">
				<img src="https://placehold.jp/32/aaa/333/70x60.jpg?text=%E7%94%BB%E5%83%8F" alt="" width="70" />
				<span class="fsM fwB">リンク文字</span></a>
            </div>
			<div class="grid3 _mb20">
				<a href="" class="thumbnail-arrow-button">
				<img src="https://placehold.jp/32/aaa/333/70x60.jpg?text=%E7%94%BB%E5%83%8F" alt="" width="70" />
				<span class="fsM fwB">リンク文字</span></a>
            </div>
		</div>
        
        
        
        
        
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="07">大見出し：関連情報：テキストのみリンク</h2>
    </div>
    <!-- /大見出し -->
        
        <p>とりあえず縦に並べておく？</p>
        
        
        <p><a class="arrow" href="リンク先" target="_blank">サイト内リンク</a></p>
        <p><a class="arrow-blank" href="リンク先" target="_blank">サイト外リンク リンク範囲をテキストだけに変更</a></p>
        <p><a class="arrow-blank" href="リンク先" target="_blank">PDFリンク（外部リンクと同じ）</a></p>
        <p><a class="arrow-anchor" href="#">ページ内リンク</a></p>
        
        
        
        
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="08">大見出し：関連情報：ボタンリンク（ベタ塗り）</h2>
    </div>
    <!-- /大見出し -->
        
        <p>青ベタ塗ボタンを追加</p>
        <p>アイコン 外部、ページ内 のクラス追加</p>
        <p>content-block-l に上下60pxの余白が付くので、_mt _mbクラスで調整可能</p>
        <p class="_mb20">6列を作るのか？ 他の色はどうするか</p>

<!-- 7.ナビゲーション （全階層） start -->
<ul class="row df clearfix">
  <li class="grid6 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
  <li class="grid6 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
</ul>
        
        <p><br></p>
        
<ul class="row df clearfix">
  <li class="grid4 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
  <li class="grid4 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
  <li class="grid4 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
</ul>
        
        <p><br></p>
        
<ul class="row df clearfix">
  <li class="grid3 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
  <li class="grid3 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
  <li class="grid3 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
  <li class="grid3 _mb20"><a href="" class="button01 -center">テキストテキスト</a></li>
  <li class="grid3 _mb20"><a href="" class="button01 -center">サイト内リンクアンコン</a></li>
  <li class="grid3 _mb20"><a href="" class="blank-button -center">外部アイコン用クラス追加</a></li>
  <li class="grid3 _mb20"><a href="" class="anchor-button -center">ページ内リンク用アイコン</a></li>
</ul>
        
        <p><br></p>
        
<!-- 7.ナビゲーション （全階層） start -->
<ul class="row df clearfix">
  <li class="grid6 _mb20"><a href="" class="button01-blue -center">テキストテキスト</a></li>
  <li class="grid6 _mb20"><a href="" class="button01-blue -center">テキストテキスト</a></li>
</ul>
        
        <p><br></p>
        
<ul class="row df clearfix">
  <li class="grid4 _mb20"><a href="" class="button01-blue -center">テキストテキスト</a></li>
  <li class="grid4 _mb20"><a href="" class="blank-button-blue -center">テキストテキスト</a></li>
  <li class="grid4 _mb20"><a href="" class="anchor-button-blue -center">テキストテキスト</a></li>
</ul>
        
        <p><br></p>
        
<ul class="row df clearfix">
  <li class="grid3 _mb20"><a href="" class="button01-blue -center">テキストテキスト</a></li>
  <li class="grid3 _mb20"><a href="" class="button01-blue -center">サイト内リンクアンコン</a></li>
  <li class="grid3 _mb20"><a href="" class="blank-button-blue -center">外部アイコン用クラス追加</a></li>
  <li class="grid3 _mb20"><a href="" class="anchor-button-blue -center">ページ内リンク用アイコン</a></li>
</ul>
        
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="09">大見出し：FAQ</h2>
    </div>
    <!-- /大見出し -->
    
        <p>このパーツは無くそうか</p>
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="10">大見出し：表01</h2>
    </div>
    <!-- /大見出し -->
        
        <p>スクロールのクラス追加する</p>
        <p>幅狭いバージョンも用意する、テーブルの上下についている余白は削除したい</p>
        
        
<div class="table-responsive _mt30"><!-- 余白（_mt30）は適宜変更してください -->
  <table class="table01">
    <colgroup>
      <col class="_w34">
      <col class="_w33">
      <col class="_w33">
    </colgroup>
    <thead>
      <th>&nbsp;</th>
      <th>ダミーテキスト</th>
      <th>ダミーテキスト</th>
    </thead>
    <tbody>
      <tr>
        <th>ダミーテキスト</th>
        <td>ダミーテキスト</td>
        <td>aaaaaaaaaaaaaaa aaaaaaaaaaaaa ダミーテキスト</td>
      </tr>
      <tr>
        <th>ダミーテキスト</th>
        <td>ダミーテキスト</td>
        <td>ダミーテキスト</td>
      </tr>
      <tr>
        <th>ダミーテキスト</th>
        <td>ダミーテキスト</td>
        <td>ダミーテキスト</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive _mt30"><!-- 余白（_mt30）は適宜変更してください -->
  <table class="table02">
    <colgroup>
      <col class="_w34">
      <col class="_w33">
      <col class="_w33">
    </colgroup>
    <thead>
      <th>&nbsp;</th>
      <th>ダミーテキスト</th>
      <th>ダミーテキスト</th>
    </thead>
    <tbody>
      <tr>
        <th>ダミーテキスト</th>
        <td>ダミーテキスト</td>
        <td>ダミーテキスト</td>
      </tr>
      <tr>
        <th>ダミーテキスト</th>
        <td>ダミーテキスト</td>
        <td>ダミーテキスト</td>
      </tr>
      <tr>
        <th>ダミーテキスト</th>
        <td>ダミーテキスト</td>
        <td>ダミーテキスト</td>
      </tr>
    </tbody>
  </table>
</div>
        
        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="12">大見出し：大見出し配下を囲う</h2>
    </div>
    <!-- /大見出し -->
        
        
        
    <div class="box-contents bdG">
        

        <!-- 小見出し -->
        <h4 class="">小見出し</h4>
        <!-- /小見出し -->
        
		<div class="row df clearfix _mb30">
			<div class="grid6  _mb20">
				黒枠で囲む を選択した場合
			</div>
			<div class="grid6 _mb20">
				grid6 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
		</div>
        
        <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>

    </div>        
        
        
        

    <div class="box-contents _bgcolor-gray04">
        
        
        <!-- 中見出し -->
        <div class="heading03 _mt0">
            <h3>中見出し：基本↑70pxあくので、中見出しの項目に上余白削除のチェックボックス追加する？（チェックがある場合_mt0で詰める）</h3>
        </div>
        <!-- /中見出し -->

        <!-- 小見出し -->
        <h4>小見出し</h4>
        <!-- /小見出し -->
        
		<div class="row df clearfix _mb30">
			<div class="grid6 _mb20">
				grid6 ああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
			<div class="grid6 _mb20">
				grid6 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
		</div>
        
        <p>あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>

    </div>        

        
        
        <p>eco情報枠は廃止？</p>

        
    <!-- 大見出し -->
    <div class="heading02">
        <h2 id="13">大見出し：段組み</h2>
    </div>
    <!-- /大見出し -->
        
        <p>普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章</p>
        <p>普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章普通の文章</p>
        
		<div class="row df clearfix _mb30">
			<div class="grid12">
                    grid12 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
		</div>
        
        
		<div class="row df clearfix _mb30">
			<div class="grid6 _mb20">
                <div class="bdG">
                    grid6 ああああああああああああああああああああああああああああああああああああああああああああああ 
                </div>
			</div>
			<div class="grid6 _mb20">
                <div class="bdG">
                    grid6 ああああああああああああああああああああああああああああああああああああああああああああああ 
                </div>
			</div>
		</div>

		<div class="row df clearfix _mb30">
            
			<div class="grid4 _mb20">
                <div class="bdG">
    				grid4 ああああああああああああああああああああああああああああああああああああああああああああああ  
                </div>
			</div>
			<div class="grid8 _mb20">
                <div class="bdG">
                    grid8 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
                </div>
			</div>
		</div>
        
		<div class="row df clearfix _mb30">
			<div class="grid8 _mb20">
                <div class="bdG">
                    grid8 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
                </div>

			</div>
			<div class="grid4 _mb20">
                <div class="bdG">
    				grid4 ああああああああああああああああああああああああああああああああああああああああああああああ  
                </div>
			</div>
		</div>

		<div class="row df clearfix _mb30">
			<div class="grid9 _mb20">
                <div class="bdG">
				grid9 あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
                </div>
			</div>
			<div class="grid3 _mb20">
                <div class="bdG">
                    grid3 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
                </div>
			</div>
		</div>
        
		<div class="row df clearfix _mb30">
			<div class="grid3 _mb20">
                <div class="bdG">
                    grid3 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
                </div>
            </div>
			<div class="grid9 _mb20">
                <div class="bdG">
				grid9 あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
                </div>
			</div>
		</div>
        
        
        
        
		<div class="row df clearfix _mb30">
			<div class="grid6 _mb20">
				grid6 ああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
			<div class="grid6 _mb20">
				grid6 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
		</div>

		<div class="row df clearfix _mb30">
			<div class="grid4 _mb20">
				grid4 ああああああああああああああああああああああああああああああああああああああああああああああ  
			</div>
			<div class="grid8 _mb20">
				grid8 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
		</div>
        
		<div class="row df clearfix _mb30">
			<div class="grid8 _mb20">
				grid8 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
			<div class="grid4 _mb20">
				grid4 ああああああああああああああああああああああああああああああああああああああああああああああ  
			</div>
		</div>

		<div class="row df clearfix _mb30">
			<div class="grid9 _mb20">
				grid9 あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
			<div class="grid3 _mb20">
				grid3 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
		</div>
        
		<div class="row df clearfix _mb30">
			<div class="grid3 _mb20">
				grid3 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
			<div class="grid9 _mb20">
				grid9 あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
		</div>

        
		<div class="row df clearfix _mb30">
			<div class="sp-grid6">
				sp-grid6 ああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
			<div class="sp-grid6">
				sp-grid6 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
		</div>

		<div class="row df clearfix _mb30">
			<div class="sp-grid4">
				sp-grid4 ああああああああああああああああああああああああああああああああああああああああああああああ  
			</div>
			<div class="sp-grid8">
				sp-grid8 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ 
			</div>
		</div>
        
		<div class="row df clearfix _mb30">
			<div class="sp-grid9 ">
				sp-grid9 あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
			<div class="sp-grid3 ">
				sp-grid3 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
		</div>
        
		<div class="row df clearfix _mb30">
			<div class="sp-grid3 ">
				sp-grid3 ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
			<div class="sp-grid9 ">
				sp-grid9 あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
			</div>
		</div>
        

        

    </div>
  </div>

<!-- ========== main contents area - end ========== -->
<!--#include virtual="/ja/assets/include/sns.txt" -->
  <div class="breadcrumbs-list"></div>
</main>
<!--#include virtual="/ja/assets/include/footer.txt" -->
</body>
</html>