<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta property="og:url" content="ページのURlを記入してください">
<meta property="og:title" content="ページのタイトルを記入してください">
<meta property="og:description" content="ページの説明を記入してください">
<meta property="og:image" content="https://corporate.epson/assets/img/ogp_logo.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<title>パーツ一覧 | エプソン</title>
<link rel="stylesheet" href="/assets/css/common.css">
<script src="/assets/js/library/jquery-3.6.0.min.js"></script>
<script src="/assets/js/common.js"></script>
<script src="/assets/js/vendor/slick.min.js"></script>
</head>
<body>

<!--#include virtual="/assets/include/header.html" -->

<main id="main">
  <div class="breadcrumbs-list">
    <div class="inner">
      <p class="link"><a href="">サステナビリティサイトマップ</a></p>
      <ol>
        <li><a href="/ja/">ホーム</a></li>
        <li>パーツ一覧</li>
      </ol>
    </div>
  </div>


<div class="contents-area">
  <div class="inner">
      
    <div class="row df clearfix _mb30">
        <div class="grid6">
            
              <ul>
                  <li><a href="#03" class="arrow-anchor">3.メインビジュアル</a></li>
                  <li><a href="#04" class="arrow-anchor">4.ローカルナビ（インクルード対応）</a></li>
                  <li><a href="#06" class="arrow-anchor">6.目的別インデックス</a></li>
                  <li><a href="#10" class="arrow-anchor">10.下層リンク（ホバー時テキストあり）</a></li>
                  <li><a href="#39" class="arrow-anchor">39.SNS（インクルード対応）</a></li>
                  <li><a href="#43" class="arrow-anchor">43.重要なお知らせ</a></li>
              </ul>
            
        </div>
        <div class="grid6">
            
        </div>
    </div>
      
      
  </div>
</div>
    


<div class="parts-caption">
  <div class="inner">
    <span class="name">パーツ使用時の注意事項</span>
  </div>
</div>

<div class="contents-area">
<div class="inner">
<p class="text-m">パーツは「.contents-area>.inner」内に記述してください。<br>
トップページ用やコンテンツ幅の広いパーツはソースコードに「.contents-area」が含まれています。<br>
この場合は「.contents-area」は入れ子にせず、外側に記述してください。</p>

<pre><code class="html"><div class="contents-area">
  <div class="inner">
    <!-- 通常のパーツは.contents-area>.innerの中に記述 -->
  </div>
</div>

<!-- .contents-areaが含まれているパーツは外に記述 -->
<div class="contents-area contents-bgcolor _bgcolor-gray03">
  <div class="inner">
    <!-- 省略 -->
  </div>
</div></code></pre>
</div>
</div>



<div class="parts-caption">
  <div class="inner">
    <span class="name" id="03">3.メインビジュアル</span>
    <span class="sub">トップページ</span>
  </div>
</div>
    
<div class="contents-area">
  <div class="inner">
    <p>サイトトップページのみで使用</p>
  </div>
</div>
    

<!-- 3.メインビジュアル （トップページ） start -->
<div class="contents-area keyvisual-area">
  <div class="inner">
    <div class="keyvisual">
      <div class="item">
        <a href="">
          <picture>
            <source media="(max-width: 499px)" srcset="https://placehold.jp/32/aaa/333/750x728.jpg?text=%E7%94%BB%E5%83%8F">
            <img src="https://placehold.jp/32/aaa/333/2732x828.jpg?text=%E7%94%BB%E5%83%8F" width="1366" height="414" alt="">
          </picture>
        </a>
      </div>
      <div class="item">
        <a href="">
          <picture>
            <source media="(max-width: 499px)" srcset="https://placehold.jp/32/aaa/333/750x728.jpg?text=%E7%94%BB%E5%83%8F">
            <img src="https://placehold.jp/32/aaa/333/2732x828.jpg?text=%E7%94%BB%E5%83%8F" width="1366" height="414" alt="">
          </picture>
        </a>
      </div>
      <div class="item">
        <a href="">
          <picture>
            <source media="(max-width: 499px)" srcset="https://placehold.jp/32/aaa/333/750x728.jpg?text=%E7%94%BB%E5%83%8F">
            <img src="https://placehold.jp/32/aaa/333/2732x828.jpg?text=%E7%94%BB%E5%83%8F" width="1366" height="414" alt="">
          </picture>
        </a>
      </div>
    </div>
    <script>
      $('div.keyvisual-area div.keyvisual').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: true,
        fade: true,
        autoplay: true,
        autoplaySpeed: 6000
      });
    </script>
  </div>
</div>
<!-- 3.メインビジュアル （トップページ） end -->
    
<pre class="snippet -hideCode"><code class="html"><div class="contents-area keyvisual-area">
  <div class="inner">
    <div class="keyvisual">
      <div class="item">
        <a href="">
          <picture>
            <source media="(max-width: 499px)" srcset="https://placehold.jp/32/aaa/333/750x728.jpg?text=%E7%94%BB%E5%83%8F">
            <img src="https://placehold.jp/32/aaa/333/2732x828.jpg?text=%E7%94%BB%E5%83%8F" width="1366" height="414" alt="">
          </picture>
        </a>
      </div>
      <div class="item">
        <a href="">
          <picture>
            <source media="(max-width: 499px)" srcset="https://placehold.jp/32/aaa/333/750x728.jpg?text=%E7%94%BB%E5%83%8F">
            <img src="https://placehold.jp/32/aaa/333/2732x828.jpg?text=%E7%94%BB%E5%83%8F" width="1366" height="414" alt="">
          </picture>
        </a>
      </div>
      <div class="item">
        <a href="">
          <picture>
            <source media="(max-width: 499px)" srcset="https://placehold.jp/32/aaa/333/750x728.jpg?text=%E7%94%BB%E5%83%8F">
            <img src="https://placehold.jp/32/aaa/333/2732x828.jpg?text=%E7%94%BB%E5%83%8F" width="1366" height="414" alt="">
          </picture>
        </a>
      </div>
    </div>
    <script>
      $('div.keyvisual-area div.keyvisual').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: true,
        fade: true,
        autoplay: true,
        autoplaySpeed: 6000
      });
    </script>
  </div>
</div></code></pre>


<div class="parts-caption">
  <div class="inner">
    <span class="name" id="04">4.ローカルナビ</span>
    <span class="sub">第3～6階層</span>
  </div>
</div>
    
<div class="contents-area">
  <div class="inner">
    <p>カテゴリ毎、インクルードファイル読み込み</p>
  </div>
</div>
    

<!-- 4.ローカルナビ （第3～6階層） start -->
<div class="local-nav-area">
  <div class="inner">
    <nav class="local-nav" data-area="localnav">
      <div role="button" class="heading" data-trigger="accordion" aria-controls="localnav-list" aria-expanded="false">Menu</div>
      <ul id="localnav-list" aria-hidden="true">
        <li>
          <a href="" class="-current" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            
            <ul>
              <li><a href="">1</a></li>
              <li><a href="" class="-current">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">2</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">3</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">4</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">5</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">6</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">7</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">8</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- 4.ローカルナビ （第3～6階層） end -->
    

<pre class="snippet -hideCode"><code class="html"><div class="local-nav-area">
  <div class="inner">
    <nav class="local-nav" data-area="localnav">
      <div role="button" class="heading" data-trigger="accordion" aria-controls="localnav-list" aria-expanded="false">Menu</div>
      <ul id="localnav-list" aria-hidden="true">
        <li>
          <a href="" class="-current" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            
            <ul>
              <li><a href="">1</a></li>
              <li><a href="" class="-current">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">2</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">3</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">4</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">5</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">6</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">7</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
        <li><a href="" data-trigger="localnav-btn" aria-expanded="false">ダミーテキスト</a>
          <div class="child" aria-hidden="true">
            <ul>
              <li><a href="">8</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
              <li><a href="">ダミーテキスト</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div></code></pre>

    




<div class="parts-caption">
  <div class="inner">
    <span class="name" id="06">6.目的別インデックス</span>
    <span class="sub">トップページ</span>
  </div>
</div>

<div class="contents-area">
<div class="inner">
    <p>サイトトップのみ使用</p>

<!-- 6.目的別インデックス （トップページ） start -->
<div class="contents-area target-area">
  <div class="inner">
    <div class="target-btns">
      <ul>
        <li>
          <a href="">
            <i class="if-male"></i>
            <span class="lower">エプソンを知りたい</span>
          </a>
        </li>
        <li>
            <a href="">
              <i class="if-town"></i>
              <span class="lower">協業したい</span>
            </a>
          </li>
          <li>
          <a href="">
            <i class="if-building"></i>
            <span class="lower">働きたい</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="if-male"></i>
            <span class="lower">製品を購入したい</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 6.目的別インデックス （トップページ） end -->

</div>
</div>
<pre class="snippet -hideCode"><code class="html"><div class="contents-area target-area">
  <div class="inner">
    <div class="target-btns">
      <ul>
        <li>
          <a href="">
            <i class="if-male"></i>
            <span class="lower">エプソンを知りたい</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="if-town"></i>
            <span class="lower">協業したい</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="if-building"></i>
            <span class="lower">働きたい</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="if-male"></i>
            <span class="lower">製品を購入したい</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div></code></pre>


    
    

<div class="parts-caption">
  <div class="inner">
    <span class="name" id="10">10.下層リンク（ホバー時テキストあり）</span>
    <span class="sub">トップ</span>
  </div>
</div>
    
<div class="contents-area">
    <div class="inner">
      <p>サイトトップのみ使用</p>
    </div>
</div>


<!-- 10.下層リンク（ホバー時テキストあり） （トップ） start -->

<div class="top-contents-area photolink-area">
  <div class="inner">
      
      
    <div class="photolink-grid">
      <div class="inner">
        <div class="item">
          <a href="">
            <div class="image"><img src="https://placehold.jp/32/aaa/333/1366x768.jpg?text=%E7%94%BB%E5%83%8F" width="683" height="384" alt=""></div>
            <dl class="line2">
              <dt>テキストが入ります</dt>
              <dd>ここにテキストが入りますここにテキストが入りますここにテキストが入りますここにテキストが入ります</dd>
            </dl>
          </a>
        </div>
        <div class="item">
          <a href="">
            <div class="image"><img src="https://placehold.jp/32/aaa/333/1366x768.jpg?text=%E7%94%BB%E5%83%8F" width="683" height="384" alt=""></div>
            <dl>
              <dt>テキストが入ります</dt>
              <dd>ここにテキストが入りますここにテキストが入ります</dd>
            </dl>
          </a>
        </div>
      </div>
    </div>
      
  </div>
</div>
<!-- 10.下層リンク（ホバー時テキストあり） （トップ） end -->

<pre class="snippet -hideCode"><code class="html"><div class="top-contents-area photolink-area">
  <div class="inner">
    <div class="photolink-grid">
      <div class="inner">
        <div class="item">
          <a href="">
            <div class="image"><img src="https://placehold.jp/32/aaa/333/1366x768.jpg?text=%E7%94%BB%E5%83%8F" width="683" height="384" alt=""></div>
            <dl class="line2">
              <dt>テキストが入ります</dt>
              <dd>ここにテキストが入りますここにテキストが入りますここにテキストが入りますここにテキストが入ります</dd>
            </dl>
          </a>
        </div>
        <div class="item">
          <a href="">
            <div class="image"><img src="https://placehold.jp/32/aaa/333/1366x768.jpg?text=%E7%94%BB%E5%83%8F" width="683" height="384" alt=""></div>
            <dl>
              <dt>テキストが入ります</dt>
              <dd>ここにテキストが入りますここにテキストが入ります</dd>
            </dl>
          </a>
        </div>
      </div>
    </div>
  </div>
</div></code></pre>

    
<div class="parts-caption">
  <div class="inner">
    <span class="name" id="39">39.SNS（インクルード対応）</span>
    <span class="sub">全階層</span>
  </div>
</div>

<div class="contents-area">
<div class="inner">

<!-- 39.SNS （全階層） start -->
<div class="share-area">
  <p class="heading">このページをシェアする</p>
  <ul class="btns">
    <li><a href=""><img src="/assets/img/ico_facebook.png" width="36" height="36" alt="Facebook"></a></li>
    <li><a href=""><img src="/assets/img/ico_twitter.png" width="36" height="36" alt="Twitter"></a></li>
    <li><a href=""><img src="/assets/img/ico_instagram.png" width="36" height="36" alt="Instagram"></a></li>
    <li><a href=""><img src="/assets/img/ico_linkedin.png" width="42" height="36" alt="LinkedIn"></a></li>
  </ul>
  <p class="link"><a href="">公式アカウント一覧</a></p>
</div>
<!-- 39.SNS （全階層） end -->

</div>
</div>

<pre class="snippet -hideCode"><code class="html"><div class="share-area">
  <p class="heading">このページをシェアする</p>
  <ul class="btns">
    <li><a href=""><img src="/assets/img/ico_facebook.png" width="36" height="36" alt="Facebook"></a></li>
    <li><a href=""><img src="/assets/img/ico_twitter.png" width="36" height="36" alt="Twitter"></a></li>
    <li><a href=""><img src="/assets/img/ico_instagram.png" width="36" height="36" alt="Instagram"></a></li>
    <li><a href=""><img src="/assets/img/ico_linkedin.png" width="42" height="36" alt="LinkedIn"></a></li>
  </ul>
  <p class="link"><a href="">公式アカウント一覧</a></p>
</div></code></pre>    
    

<div class="parts-caption">
  <div class="inner">
    <span class="name" id="43">43.重要なお知らせ</span>
    <span class="sub">トップ</span>
  </div>
</div>

<!-- 43.重要なお知らせ （トップ） start -->
<div class="top-contents-area info-area">
  <div class="inner">
    <div class="info-box">
      <p class="title">重要なお知らせ</p>
      <ul class="list">
        <li><a href="">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a></li>
        <li><a href="">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a></li>
        <li><a href="">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- 43.重要なお知らせ （トップ） end -->

<pre class="snippet -hideCode"><code class="html"><div class="top-contents-area info-area">
  <div class="inner">
    <div class="info-box">
      <p class="title">重要なお知らせ</p>
      <ul class="list">
        <li><a href="">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a></li>
        <li><a href="">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a></li>
        <li><a href="">テキストが入りますテキストが入りますテキストが入りますテキストが入ります</a></li>
      </ul>
    </div>
  </div>
</div></code></pre>




  <div class="breadcrumbs-list">
    <div class="inner">
      <ol>
        <li><a href="">ホーム</a></li>
        <li>パーツ一覧</li>
      </ol>
    </div>
  </div>
</main>

<!--#include virtual="/assets/include/footer.html" -->

<!-- 開発用 start -->
<link rel="stylesheet" href="/template/_partslist/css/style.css">
<link rel="stylesheet" href="/template/_partslist/css/agate.min.css">
<link rel="stylesheet" href="/template/_partslist/css/clippy.min.css">
<script src="/template/_partslist/js/clipboard.min.js"></script>
<script src="/template/_partslist/js/highlight.min.js"></script>
<script src="/template/_partslist/js/clippy.min.js"></script>
<!-- 開発用 end -->
</body>
</html>