<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="">
<meta property="og:url" content="ページのURlを記入してください">
<meta property="og:title" content="ページのタイトルを記入してください">
<meta property="og:description" content="ページの説明を記入してください">
<meta property="og:image" content="https://corporate.epson/assets/img/ogp_logo.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<title>サステナビリティ | エプソン</title>
<!--#include virtual="/assets/include/common-css.txt" -->
<link rel="stylesheet" href="/template/ja/sustainability/assets/css/main-visual.css">
<!--#include virtual="/assets/include/common-js.txt" -->
</head>
<body>
<!--#include virtual="/assets/include/body-first.txt" -->
<!--#include virtual="/ja/assets/include/header.txt" -->

<main id="main">
  <div class="breadcrumbs-list sitemap-link"></div>
  <!-- ========== main contents area - begin ========== -->

  <div class="heading01 -keyvisual -SR">
    <h1>サステナビリティ</h1>
    <p class="lead">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
  </div>

  <div class="contents-area">
    <div class="inner">

      <div class="keyvisual-after-box">
        <div class="message-box02">
          <a href="">
            <p class="image"><img src="/template/ja/sustainability/img/index_img_01.jpg" width="570" height="335" alt=""></p>
            <div class="message">
              <p class="heading">持続可能で心豊かな社会の実現に貢献します</p>
              <p class="text">現在、気候変動や新型コロナウイルスをはじめ、私たちはさまざまな社会課題に直面しています。エプソンは、自社だけではなくお客様、パートナーの皆様と共に、貢献してまいります。（84文字）</p>
              <p class="name">セイコーエプソン株式会社<br>
              代表取締役社長 CEO<br>
              小川 恭範</p>
              <p class="link">トップメッセージ</p>
            </div>
          </a>
        </div>
      </div>

      <div class="row df clearfix _mt60">
        <div class="item grid6 _mb60">
          <div class="message-box01">
            <a href="">
              <p class="image"><img src="/template/ja/sustainability/img/index_img_02.jpg" width="570" height="335" alt=""></p>
              <div class="message">
                <p class="heading">経営理念に常に立ち返り、社会課題を解決し続ける</p>
                <p class="name">取締役 常務執行役員<br>
                経営戦略・管理本部長 兼 サステナビリティ推進室長<br>
                瀬木 達明</p>
                <p class="link">サステナビリティ担当役員メッセージ</p>
              </div>
            </a>
          </div>
        </div>
        <div class="item grid6 _mb60">
          <div class="message-box01">
            <a href="">
              <p class="image"><img src="/template/ja/sustainability/img/index_img_03.jpg" width="570" height="335" alt=""></p>
              <div class="message">
                <p class="heading">経営理念に常に立ち返り、社会課題を解決し続ける</p>
                <p class="text">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
                <p class="link">サステナビリティ活動推進体制</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <ul class="row df clearfix _mb30">
        <li class="grid4 _mb15"><a href="" class="button01 -center">マテリアリティ</a></li>
        <li class="grid4 _mb15"><a href="" class="button01 -center">価値創造ストーリー</a></li>
        <li class="grid4 _mb15"><a href="#anchor01" class="anchor-button -center">ファクトデータと評価</a></li>
      </ul>

        
        
      <div class="heading01 _center">
        <h2>サステナブルな社会に向けての取り組み</h2>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_01.jpg" width="1366" height="180" alt=""></span>
            <span class="text">環境マネジメント</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">環境ビジョン2050</a></li>
          <li><a href="">気候変動</a></li>
          <li><a href="">生物多様性の保全</a></li>
          <li><a href="">ライフサイクルシンキング</a></li>
          <li><a href="">グリーンボンドの発行</a></li>
          <li><a href="">2025年に目指す姿</a></li>
          <li><a href="">資源</a></li>
          <li><a href="">環境コミュニティー</a></li>
          <li><a href="">環境マネジメント</a></li>
          <li><a href="">グローバル環境サイト</a></li>
          <li><a href="">商品・サービス</a></li>
          <li><a href="">汚染防止</a></li>
          <li><a href="">環境コミュニケーションメッセージ</a></li>
          <li><a href="">環境活動の歩み</a></li>
          <li><a href="">TCFD提言への対応</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_02.jpg" width="1366" height="180" alt=""></span>
            <span class="text">サプライチェーンマネジメント</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">方針・体制</a></li>
          <li><a href="">コミュニケーション＆教育</a></li>
          <li><a href="">紙製品の調達</a></li>
          <li><a href="">サプライヤーガイドライン</a></li>
          <li><a href="">責任ある鉱物調達</a></li>
          <li><a href="">CSR調達の取り組み</a></li>
          <li><a href="">グリーン購入</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_03.jpg" width="1366" height="180" alt=""></span>
            <span class="text">人材マネジメント</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">人材開発</a></li>
          <li><a href="">働きやすい職場環境</a></li>
          <li><a href="">ダイバーシティの推進</a></li>
          <li><a href="">健康経営</a></li>
          <li><a href="">人権の尊重</a></li>
          <li><a href="">労働安全衛生</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_04.jpg" width="1366" height="180" alt=""></span>
            <span class="text">ガバナンス</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">コーポレートガバナンス</a></li>
          <li><a href="">セキュリティー</a></li>
          <li><a href="">内部統制システム</a></li>
          <li><a href="">内部統制の主な活動</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_05.jpg" width="1366" height="180" alt=""></span>
            <span class="text">お客様満足の追求</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">CS品質の考え方</a></li>
          <li><a href="">販売・サービス／サポート</a></li>
          <li><a href="">ステークホルダーエンゲージメント</a></li>
          <li><a href="">お客様満足</a></li>
          <li><a href="">品質向上活動</a></li>
          <li><a href="">ユニバーサルデザイン</a></li>
          <li><a href="">製品安全</a></li>
        </ul>
      </div>

      <div class="row df clearfix _mb50">
        <div class="item grid4 _sp-mb50">
          <p>
            <a href="" class="image-link">
              <span class="image"><img src="/template/ja/sustainability/img/index_img_04.jpg" width="360" height="202" alt=""></span>
              <span class="text">ステークホルダー<br>エンゲージメント</span>
            </a>
          </p>
          <p class="_mt15 _fs18">全てのステークホルダーの皆様と信頼関係を構築するための取り組みを展開しています。</p>
        </div>
        <div class="item grid4 _sp-mb50">
          <p>
            <a href="" class="image-link">
              <span class="image"><img src="/template/ja/sustainability/img/index_img_05.jpg" width="360" height="202" alt=""></span>
              <span class="text">社会貢献</span>
            </a>
          </p>
          <p class="_mt15 _fs18">世界各地でそれぞれの地域社会に根ざした活動を通して、社会との共生を進めています。</p>
        </div>
        <div class="item grid4 _sp-mb50">
          <p>
            <a href="" class="image-link">
              <span class="image"><img src="/template/ja/sustainability/img/index_img_06.jpg" width="360" height="202" alt=""></span>
              <span class="text">外部イニシアチブへの参画</span>
            </a>
          </p>
          <p class="_mt15 _fs18">「持続可能な社会」の実現に貢献に向け、さまざまなイニシアチブに賛同し、参画しています。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="contents-area contents-bgcolor _bgcolor-light-blue" id="anchor01">
    <div class="inner">
      <div class="center-heading">
        <h2>ファクトデータ</h2>
      </div>
      <p class="text-l _ma">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>

      <div class="factdata-links">
        <ul>
          <li><a href=""><i class="if-leaf _fs56"></i><span class="arrow _pr0">ESGデータ</span></a></li>
          <li><a href=""><i class="if-binder _fs70"></i><span class="arrow _pr0">GRIスタンダード<br class="_sp">対照表</span></a></li>
          <li><a href=""><i class="if-medal _fs70"></i><span class="arrow _pr0">社外からの評価</span></a></li>
        </ul>
      </div>

      <div class="center-heading">
        <h2>レポート</h2>
      </div>
      <p class="text-l _ma">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>

      <div class="report-boxes">
        <div class="item">
          <h3 class="heading">
            <span class="image"><img src="/template/ja/sustainability/img/index_img_07.jpg" width="180" height="128" alt=""></span>
            <span class="text">サステナビリティレポート2021</span>
          </h3>
          <ul class="links">
            <li><a href="" class="arrow-blank" target="_blank">日本語版全282ページDL（PDF：22.3MB）</a></li>
            <li><a href="" class="arrow">分割版：目次を確認する</a></li>
          </ul>
        </div>
        <div class="item">
          <h3 class="heading">
            <span class="image"><img src="/template/ja/sustainability/img/index_img_08.jpg" width="180" height="128" alt=""></span>
            <span class="text">各種ダウンロードページへ</span>
          </h3>
          <ul class="links">
            <li><a href="" class="arrow">会社案内2021/2022</a></li>
            <li><a href="" class="arrow">株主通信：2022年3月期</a></li>
            <li><a href="" class="arrow">統合レポート2021</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="contents-area">
    <div class="inner">
      <div class="center-heading">
        <h2>新着情報</h2>
      </div>
      <div class="news-box">
        <div class="cards">
          <div class="item">
            <a href="">
              <div class="image"><img src="/template/ja/img/index_news_01.jpg" width="232" height="154" alt=""></div>
              <p class="date">2021.00.00</p>
              <p class="text">プログラミング教育の取り組みを後押しする、プロジェクションマッピング制作アプリ『ププログラミング教育の取り組みを後押しする、プロジェクションマッピング制作アプリ『プ</p>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="image"><img src="/template/ja/img/index_news_02.jpg" width="232" height="154" alt=""></div>
              <p class="date">2021.00.00</p>
              <p class="text">「ITmedia Virtual EXPO 2022春」組み込み開発&amp;エレクトロニクス・AI EXPO出展</p>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="image"><img src="/template/ja/img/index_news_03.jpg" width="232" height="154" alt=""></div>
              <p class="date">2021.00.00</p>
              <p class="text">SDGs外貨定期預金の預入について</p>
            </a>
          </div>
          <div class="item">
            <a href="">
              <div class="image"><img src="/template/ja/img/index_news_04.jpg" width="232" height="154" alt=""></div>
              <p class="date">2021.00.00</p>
              <p class="text">アートイノベーションとデジタル捺染を融合させて新たな価値創造を目指すための共同研究アートイノベーションとデジタル捺染を融合させて新たな価値創造を目指すための共同研究</p>
            </a>
          </div>
        </div>
        <p class="link"><a href="">一覧を見る</a></p>
      </div>
    </div>
  </div>
    
    
  <div class="contents-area">
    <div class="inner">
      <div class="center-heading">
        <h2>新着情報</h2>
      </div>
        
					<div class="news-section">
						<div class="news-section-body">
						<!-- 通常は4件掲載 -->
							
						<div class="list">
							<p class="date">7月1日</p>
							<p class="category">リリース</p>
							<p class="title"><a href="" class="arrow">テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト </a></p>
						<!-- /list --></div>
							
						<div class="list">
							<p class="date">6月29日</p>
							<p class="category">お知らせ</p>
							<p class="title"><a href="" class="arrow">「TCFD提言への対応」を更新</a></p>
						<!-- /list --></div>
							
						<div class="list">
							<p class="date">6月29日</p>
							<p class="category">リリース</p>
							<p class="title"><a href="" class="arrow-blank" target="_blank">テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト テキスト </a></p>
						<!-- /list --></div>

							<div class="list">
							<p class="date">6月17日</p>
							<p class="category">リリース</p>
							<p class="title"><a href="" class="arrow">責任投資の代表的指標「FTSE4Good Index Series」に19年連続で選定</a></p>
						<!-- /list --></div>

							
						<!-- /news-section-body --></div>
                        
                        <p class="link"><a href="">一覧を見る</a></p>
					<!-- /news-section --></div>      

      
      
    </div>
  </div>
    
    
    

  <div class="contents-area contents-bgcolor _bgcolor-gray03">
    <div class="inner">
      <div class="center-heading">
        <h2>関連するコンテンツ</h2>
      </div>
      <div class="related-contents02 carousel-card-list">
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_09.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">エプソンのスマートチャージ</p>
          </a>
          <p class="text">プリンターから始める脱炭素社会の実現。CO<sub>2</sub>排出量を47％以上（注1）削減。</p>
          <p class="text _fs12">（注1）＜LX＞シリーズのTEC値とENERGY STAR&reg;画像機器基準Version3.0にて定められた60ppm機のTEC基準値で比較した場合の削減比率。</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_10.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">TURN DOWN THE HEAT</p>
          </a>
          <p class="text">インク吐出に「熱を使わない」プリンターで電力消費を抑制。プリンター選びで私たちができること。</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_11.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">環境配慮型オフィスへ</p>
          </a>
          <p class="text">エプソンからの、SDGsの時代にふさわしい環境配慮型オフィスのご提案。</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_09.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">エプソンのスマートチャージ</p>
          </a>
          <p class="text">プリンターから始める脱炭素社会の実現。CO<sub>2</sub>排出量を47％以上（注1）削減。</p>
          <p class="text _fs12">（注1）＜LX＞シリーズのTEC値とENERGY STAR&reg;画像機器基準Version3.0にて定められた60ppm機のTEC基準値で比較した場合の削減比率。</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_10.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">TURN DOWN THE HEAT</p>
          </a>
          <p class="text">インク吐出に「熱を使わない」プリンターで電力消費を抑制。プリンター選びで私たちができること。</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_11.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">環境配慮型オフィスへ</p>
          </a>
          <p class="text">エプソンからの、SDGsの時代にふさわしい環境配慮型オフィスのご提案。</p>
        </div>
      </div>
    </div>
  </div>

<!-- ========== main contents area - end ========== -->
<!--#include virtual="/ja/assets/include/sns.txt" -->
  <div class="breadcrumbs-list"></div>
</main>
<!--#include virtual="/ja/assets/include/footer.txt" -->
</body>
</html>
