<!DOCTYPE html>
<html lang="en">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="">
<meta property="og:url" content="ページのURlを記入してください">
<meta property="og:title" content="ページのタイトルを記入してください">
<meta property="og:description" content="ページの説明を記入してください">
<meta property="og:image" content="https://corporate.epson/assets/img/ogp_logo.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<title>サステナビリティ | エプソン</title>
<!--#include virtual="/assets/include/common-css.txt" -->
<link rel="stylesheet" href="/template/ja/sustainability/assets/css/main-visual.css">
<!--#include virtual="/assets/include/common-js.txt" -->
</head>
<body>
<!--#include virtual="/assets/include/body-first.txt" -->
<!--#include virtual="/ja/assets/include/header.txt" -->

<main id="main">
  <div class="breadcrumbs-list sitemap-link"></div>
  <!-- ========== main contents area - begin ========== -->

  <div class="heading01 -keyvisual -SR">
    <h1>Sustainability</h1>
    <p class="lead">Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext Text texttext.</p>
  </div>

  <div class="contents-area">
    <div class="inner">

      <div class="keyvisual-after-box">
        <div class="message-box02">
          <a href="">
            <p class="image"><img src="/template/ja/sustainability/img/index_img_01.jpg" width="570" height="335" alt=""></p>
            <div class="message">
              <p class="heading">Contributing to Achieving Sustainability and Enriching Communities</p>
              <p class="text">xxxxx xxxx Text texttext Text texttext Text texttext Text texttext Text texttext </p>
              <p class="name">Seiko Epson Corporation<br>
              President and Representative Director, CEO<br>
              Yasunori Ogawa</p>
              <p class="link">Top Message</p>
            </div>
          </a>
        </div>
      </div>

      <div class="row df clearfix _mt60">
        <div class="item grid6 _mb60">
          <div class="message-box01">
            <a href="">
              <p class="image"><img src="/template/ja/sustainability/img/index_img_02.jpg" width="570" height="335" alt=""></p>
              <div class="message">
                <p class="heading">xxxxx xxxx Text texttext Text texttext Text texttext </p>
                <p class="name">xxxxx xxxx xxxxx xxxx <br>
                xxxxx xxxx xxxxx xxxx xxxxx xxxx xxxxx xxxx <br>
                Name Name</p>
                <p class="link">xxxxx xxxx Text texttext </p>
              </div>
            </a>
          </div>
        </div>
        <div class="item grid6 _mb60">
          <div class="message-box01">
            <a href="">
              <p class="image"><img src="/template/ja/sustainability/img/index_img_03.jpg" width="570" height="335" alt=""></p>
              <div class="message">
                <p class="heading">xxxxx xxxx Text texttext xxxxx xxxx Text texttext </p>
                <p class="text">xxxxx xxxx Text texttext xxxxx xxxx Text texttext xxxxx xxxx Text texttext xxxxx xxxx Text texttext xxxxx xxxx Text texttext </p>
                <p class="link">xxxxx xxxx Text texttext </p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <ul class="row df clearfix _mb30">
        <li class="grid4 _mb15"><a href="" class="button01 -center">マテリアリティ</a></li>
        <li class="grid4 _mb15"><a href="" class="button01 -center">価値創造ストーリー</a></li>
        <li class="grid4 _mb15"><a href="#anchor01" class="anchor-button -center">ファクトデータと評価</a></li>
      </ul>

        
        
      <div class="heading01 _center">
        <h2>サステナブルな社会に向けての取り組み</h2>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_01.jpg" width="1366" height="180" alt=""></span>
            <span class="text">環境マネジメント</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">環境ビジョン2050</a></li>
          <li><a href="">気候変動</a></li>
          <li><a href="">生物多様性の保全</a></li>
          <li><a href="">ライフサイクルシンキング</a></li>
          <li><a href="">グリーンボンドの発行</a></li>
          <li><a href="">2025年に目指す姿</a></li>
          <li><a href="">資源</a></li>
          <li><a href="">環境コミュニティー</a></li>
          <li><a href="">環境マネジメント</a></li>
          <li><a href="">グローバル環境サイト</a></li>
          <li><a href="">商品・サービス</a></li>
          <li><a href="">汚染防止</a></li>
          <li><a href="">環境コミュニケーションメッセージ</a></li>
          <li><a href="">環境活動の歩み</a></li>
          <li><a href="">TCFD提言への対応</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_02.jpg" width="1366" height="180" alt=""></span>
            <span class="text">サプライチェーンマネジメント</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">方針・体制</a></li>
          <li><a href="">コミュニケーション＆教育</a></li>
          <li><a href="">紙製品の調達</a></li>
          <li><a href="">サプライヤーガイドライン</a></li>
          <li><a href="">責任ある鉱物調達</a></li>
          <li><a href="">CSR調達の取り組み</a></li>
          <li><a href="">グリーン購入</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_03.jpg" width="1366" height="180" alt=""></span>
            <span class="text">人材マネジメント</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">人材開発</a></li>
          <li><a href="">働きやすい職場環境</a></li>
          <li><a href="">ダイバーシティの推進</a></li>
          <li><a href="">健康経営</a></li>
          <li><a href="">人権の尊重</a></li>
          <li><a href="">労働安全衛生</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_04.jpg" width="1366" height="180" alt=""></span>
            <span class="text">ガバナンス</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">コーポレートガバナンス</a></li>
          <li><a href="">セキュリティー</a></li>
          <li><a href="">内部統制システム</a></li>
          <li><a href="">内部統制の主な活動</a></li>
        </ul>
      </div>

      <div class="category-links-box">
        <p class="head">
          <a href="" class="image-link -wide">
            <span class="image"><img src="/template/ja/sustainability/environment/img/index_h1_05.jpg" width="1366" height="180" alt=""></span>
            <span class="text">お客様満足の追求</span>
          </a>
        </p>
        <ul class="sub">
          <li><a href="">CS品質の考え方</a></li>
          <li><a href="">販売・サービス／サポート</a></li>
          <li><a href="">ステークホルダーエンゲージメント</a></li>
          <li><a href="">お客様満足</a></li>
          <li><a href="">品質向上活動</a></li>
          <li><a href="">ユニバーサルデザイン</a></li>
          <li><a href="">製品安全</a></li>
        </ul>
      </div>

      <div class="row df clearfix _mb50">
        <div class="item grid4 _sp-mb50">
          <p>
            <a href="" class="image-link">
              <span class="image"><img src="/template/ja/sustainability/img/index_img_04.jpg" width="360" height="202" alt=""></span>
              <span class="text">Stakeholder Engagement</span>
            </a>
          </p>
          <p class="_mt15 _fs18">texttext text texttext text texttext text texttext text texttext texttext text texttext text texttext text texttext text texttext </p>
          </div>
        <div class="item grid4 _sp-mb50">
          <p>
            <a href="" class="image-link">
              <span class="image"><img src="/template/ja/sustainability/img/index_img_05.jpg" width="360" height="202" alt=""></span>
              <span class="text">Corporate Governance</span>
            </a>
          </p>
          <p class="_mt15 _fs18">texttext text texttext text texttext text texttext text texttext texttext text </p>
        </div>
        <div class="item grid4 _sp-mb50">
          <p>
            <a href="" class="image-link">
              <span class="image"><img src="/template/ja/sustainability/img/index_img_06.jpg" width="360" height="202" alt=""></span>
              <span class="text">Participation in External InitiativesSustainability SiteMap</span>
            </a>
          </p>
          <p class="_mt15 _fs18">texttext text texttext text texttext text texttext text texttext texttext text texttext text texttext text texttext text texttext </p>
        </div>
      </div>
    </div>
  </div>

  <div class="contents-area contents-bgcolor _bgcolor-light-blue" id="anchor01">
    <div class="inner">
      <div class="center-heading">
        <h2>ファクトデータ</h2>
      </div>
      <p class="text-l _ma">texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text </p>

      <div class="factdata-links">
        <ul>
          <li><a href=""><i class="if-leaf _fs56"></i><span class="arrow">ESG Data</span></a></li>
          <li><a href=""><i class="if-binder _fs70"></i><span class="arrow">Standards Comparison<br> (GRI/SASB)</span></a></li>
          <li><a href=""><i class="if-medal _fs70"></i><span class="arrow">Evaluation by External Parties</span></a></li>
        </ul>
      </div>

      <div class="center-heading">
        <h2>レポート</h2>
      </div>
      <p class="text-l _ma">texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text </p>

      <div class="report-boxes">
        <div class="item">
          <h3 class="heading">
            <span class="image"><img src="/template/ja/sustainability/img/index_img_07.jpg" width="180" height="128" alt=""></span>
            <span class="text">Sustainability Report 2021</span>
          </h3>
          <ul class="links">
            <li><a href="" class="arrow-blank" target="_blank">Japanese (released in September 30, 2021)</a></li>
            <li><a href="" class="arrow">Download by Section</a></li>
          </ul>
        </div>
        <div class="item">
          <h3 class="heading">
            <span class="image"><img src="/template/ja/sustainability/img/index_img_08.jpg" width="180" height="128" alt=""></span>
            <span class="text">Downloads</span>
          </h3>
          <ul class="links">
            <li><a href="" class="arrow">aaaaaaaa 2021/2022</a></li>
            <li><a href="" class="arrow">aaaaaaaa 2021/2022</a></li>
            <li><a href="" class="arrow">aaaaaaaa 2021/2022</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    
    
    
    
  <div class="contents-area">
    <div class="inner">
      <div class="center-heading">
        <h2>What's New</h2>
      </div>
        
					<div class="news-section">
						<div class="news-section-body">
						<!-- 通常は4件掲載 -->
							
						<div class="list">
							<p class="date">November 30</p>
                            <p class="category">News</p>
							<p class="title"><a href="" class="arrow">abcdef  abcdef  abcdef  abcdef  abcdef  abcdef  abcdef  abcdef  abcdef  abcdef  abcdef  abcdef  </a></p>
						<!-- /list --></div>
							
						<div class="list">
							<p class="date">December 17</p>
							<p class="category">Info</p>
							<p class="title"><a href="" class="arrow-blank" target="_blank">abcdef  abcdef  abcdef  abcdef  </a></p>
						<!-- /list --></div>
							
						<div class="list">
							<p class="date">September 17</p>
							<p class="category">News</p>
							<p class="title"><a href="" class="arrow">abcdef  abcdef  abcdef  abcdef  abcdef </a></p>
						<!-- /list --></div>

							<div class="list">
							<p class="date">January 28</p>
							<p class="category">News</p>
							<p class="title"><a href="" class="arrow">abcdef  abcdef  abcdef  abcdef  </a></p>
						<!-- /list --></div>

							
						<!-- /news-section-body --></div>
                        
                        <p class="link"><a href="">View More</a></p>
					<!-- /news-section --></div>      
      
      
      
    </div>
  </div>
    
    
    
    
    

  <div class="contents-area contents-bgcolor _bgcolor-gray03">
    <div class="inner">
      <div class="center-heading">
        <h2>Contents</h2>
      </div>
      <div class="related-contents02 carousel-card-list">
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_09.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">XXXXX XXXXXX XXXX</p>
          </a>
          <p class="text">XxxxXxxx xxxxx xxxxxxxxxx XxxxXxxx xxxxx xxxxxxxxx xxxxxxx XxxxXxxx xxxxx xxxxxxxxxx</p>
          <p class="text _fs12">xxxxxxxxxxxxxxxxxxx xxxxx XxxxXxxx xxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxx XxxxXxxx xxxxxxxxxxxxx xxxxx xxxxxxxxxx</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_10.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">TURN DOWN THE HEAT</p>
          </a>
          <p class="text">XxxxXxxx xxxxx xxxxxxxxxx XxxxXxxx xxxxx xxxxxxxxx xxxxxxx XxxxXxxx xxxxx xxxxxxxxxx</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_11.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">XXXXX XXXXXX XXXX</p>
          </a>
          <p class="text">XxxxXxxx xxxxx xxxxxxxxxx XxxxXxxx xxxxx xxxxxxxxx</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_09.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">XXXXX XXXXXX XXXX</p>
          </a>
          <p class="text">プリンターから始める脱炭素社会の実現。CO<sub>2</sub>排出量を47％以上（注1）削減。</p>
          <p class="text _fs12">（注1）＜LX＞シリーズのTEC値とENERGY STAR&reg;画像機器基準Version3.0にて定められた60ppm機のTEC基準値で比較した場合の削減比率。</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_10.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">TURN DOWN THE HEAT</p>
          </a>
          <p class="text">インク吐出に「熱を使わない」プリンターで電力消費を抑制。プリンター選びで私たちができること。</p>
        </div>
        <div class="item">
          <a href="" target="_blank">
            <div class="image"><img src="/template/ja/sustainability/environment/img/index_img_11.jpg" width="360" height="202" alt=""></div>
            <p class="blank-title">環境配慮型オフィスへ</p>
          </a>
          <p class="text">エプソンからの、SDGsの時代にふさわしい環境配慮型オフィスのご提案。</p>
        </div>
      </div>
    </div>
  </div>

<!-- ========== main contents area - end ========== -->
<!--#include virtual="/ja/assets/include/sns.txt" -->
  <div class="breadcrumbs-list"></div>
</main>
<!--#include virtual="/ja/assets/include/footer.txt" -->
</body>
</html>
