<!DOCTYPE html>
<html lang="en">

<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Introducing the layout design of Epson products.">
  <meta property="og:url" content="https://corporate.epson/en/technology/design/layout/index.html">
  <meta property="og:title" content="Layout Design | Technology | Epson">
  <meta property="og:description" content="Introducing the layout design of Epson products.">
  <meta property="og:image" content="https://corporate.epson/assets/img/ogp_logo.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <title>Layout Design | Technology | Epson</title>
  <!--#include virtual="/assets/include/common-css.txt" -->
  <link rel="stylesheet" href="/en/technology/assets/css/design_layout.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <!--#include virtual="/assets/include/common-js.txt" -->
  <script src="/en/technology/assets/js/jquery-3.6.0.min.js"></script>
  <script src="/en/technology/assets/js/layout.js"></script>
</head>

<body>
  <!--#include virtual="/assets/include/body-first.txt" -->
  <!--#include virtual="/en/assets/include/header.txt" -->
  <main id="main">
      <div class="breadcrumbs-list sitemap-link"></div>
    <!--#include virtual="/en/technology/assets/include/nav.txt" -->
    <!-- ========== main contents area - begin ========== -->
    <div class="contents-area bgDesign">
      <div class="inner">

        <div class="heading01">
          <h1>LAYOUT DESIGN</h1>
        </div>

        <div class="heading02">
          <h2>Registration of the first layout designs in the large-format printer market <sup>(*1)</sup></h2>
        </div>

        <p class="_mt20">Japan's revised Design Law, which came into effect on April 1, 2020, expanded
          protections to include interior designs <sup>(*2)</sup> (referred to as layout designs below), and Epson
          became the first in the large-format printer market <sup>(*1)</sup> to register layout designs that
          incorporate the Epson printer .</p>
        <p class="_mt20">We applied for layout designs to ascertain the originality of printer installation
          layouts. The Japan Patent Office recognized that they were novel because they had no counterpart among
          publicly known designs, either domestic or foreign, and were not easy to create.<br>
          The registered layout designs can be used with the printers below.</p>

        <div class="heading03">
          <h3>SC-P8550D/SC-T7750D</h3>
        </div>
        <p>Inkjet Printer</p>

        <figure class="_center _mt20 _mb30">
          <img src="/en/technology/design/layout/img/layout_01.png" width="500" height="285" alt="">
        </figure>

        <p class="_right _bold">Related links</p>
        <p class="_right"><a class="arrow _pr25" href="/en/products/largeprinter/scp8550d/">SC-P8550D</a></p>
        <p class="_right"><a class="arrow _pr25" href="/en/products/largeprinter/sct7750d/">SC-T7750D</a></p>

        <div class="heading02">
          <h2>Secure layout flexibility with a design that suits various installation environments</h2>
        </div>

        <p>This simple, clean design integrates a stand and printer, making it suitable for a variety of different
          installation environments.</p>

        <div class="heading02">
          <h2>Registered layout designs</h2>
        </div>

        <p>Layout designs using the SC-P8550D and/or SC-T7750D</p>
        <p class="_bold">Two layout designs have been newly registered.</p>

        <p class="_right fsS _mt30 _mb10">* Click on the image to see an enlarged view.</p>

        <div class="row df clearfix _mb30">
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_02.png" alt="Japanese Design Registration No.1691267">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028217/19A5792C99C9E036E59EE708ECCD52E9472465E886ED05518EC0DC0C5B134827/30/ja">Japanese
              Design Registration No.1691267(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_03.png" alt="Japanese Design Registration No.1691357">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028463/7C783503B73120818A42213FDAE15FAC3EE3FE1BB1619B819D26A9C418900036/30/ja">Japanese
              Design Registration No.1691357(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_04.png" alt="Japanese Design Registration No.1689446">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024289/268836519345DF35BABC8B1D590D5E2846B10A03E55C3E22F9198D9043A829F5/30/ja">Japanese
              Design Registration No.1689446(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_05.png" alt="Japanese Design Registration No.1691263">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024291/E494F2BA99C7D744336BC221E45B2548D2EE6513148500A5988C49B87DE4F903/30/ja">Japanese
              Design Registration No.1691263(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_06.png" alt="Japanese Design Registration No.1689447">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024290/58BB7E918C1551810BD71C24C886ADD5C4C866C67D0F23F2FA19A34E04046870/30/ja">Japanese
              Design Registration No.1689447(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_07.png" alt="Japanese Design Registration No.1691269">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028465/CDD7B5E9E5392B9D73E8D73B1ADAAE25051EB15C3947BD754F59B10BB814D2C9/30/ja">Japanese
              Design Registration No.1691269(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_08.png" alt="Japanese Design Registration No.1691268">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028461/BD7AD75008EB07B7254B5DF12D53B8A271449E97FB89C4A1DDEE73DB7524E0DE/30/ja">Japanese
              Design Registration No.1691268(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_09.png" alt="Japanese Design Registration No.1689451">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027369/F2602E2C288E0F2175D78CE33C74DDE7790323196AC909543244AD4743296CAC/30/ja">Japanese
              Design Registration No.1689451(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_10.png" alt="Japanese Design Registration No.1691266">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027368/3045830F21A156D2F3CD0BD868293834A1D227876386C76E41F279C7B96AA2D4/30/ja">Japanese
              Design Registration No.1691266(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_11.png" alt="Japanese Design Registration No.1691265">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027366/FF629ADC0462BCC7511FC88C0175C523A2C9D3875940F06F4F5D58886DC3BBBC/30/ja">Japanese
              Design Registration No.1691265(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_12.png" alt="Japanese Design Registration No.1691340">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027365/5026F4E9BD1BF88311E66D2D3091F90B7BB5E241D281D4A76A79FAEE9C2B7956/30/ja">Japanese
              Design Registration No.1691340(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <img src="/en/technology/design/layout/img/layout_13.png" alt="Japanese Design Registration No.1691341">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027367/333D7A845777E4729DE4C5F283C6FAFF70DDE482BD49B0C9211F89B41FF58C10/30/ja">Japanese
              Design Registration No.1691341(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <span class="label_new">NEW</span>
              <img src="/en/technology/design/layout/img/layout_14.png" alt="Japanese Design Registration No.1698704">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024296/368CA39F6A0129C1CC7EA6EF11F7C0D959A27C4A2BB5D5432371DA5818F7F9F6/30/ja">Japanese
              Design Registration No.1698704(Official Gazette link)</a>
          </div>
          <div class="grid4 _mb20 tb-50">
            <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
              <span class="label_new">NEW</span>
              <img src="/en/technology/design/layout/img/layout_15.png" alt="Japanese Design Registration No.1698771">
            </figure>
            <a class="arrow-blank" target="_blank"
              href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024288/D761168F8E4985559C2411D25EF890D103680E0F80C88D281DECA260A0596891/30/ja">Japanese
              Design Registration No.1698771(Official Gazette link)</a>
          </div>
        </div>

        <!-- 拡大用 -->
        <div id="layoutPictureBack">
          <div id="layoutPictureLarge"><img src="/technology/design/img/layout/layout_02_large.png" alt="" /></div>
          <p class="layoutPictureCloseBtn"><i class="fa fa-times"></i></p>
        </div>

        <p class="fsS _right">Gazette link source: Patent Information Platform (J-PlatPat)</p>

        <p class="_mt30 fsS">(*1) The first in the large-format printer market per a Japanese design ghazette announcing
          registered interior designs that are open to the public as of December 12, 2021 (according to Epson research)
        </p>
        <p class="fsS">(*2) Interior designs are designs related to articles, etc., that comprise the interior of a
          store, office, or other facility. The layout designs introduced here were registered as interior designs for a
          printing workroom. For details, please refer to the links below on the JPO official website:</p>
        <p class="_ml30 fsS"><a class="arrow-blank" target="_blank"
            href="https://www.jpo.go.jp/system/laws/rule/guideline/design/kenchiku-naiso-joho.html">Revised Design Act
            "Information for Architects and Interior Designers"</a></p>
        <p class="fsS">(*) The layout designs presented here have been registered as interior designs of printing
          workrooms.</p>
        <p class="fsS">(*) The layout designs presented here can be freely used with the SC-P8550D, SC-T7750, or other
          Epson printer with a similar design, whether purchased or leased. These printers can also be freely installed
          in a way that suits the customer's usage environment, without using the layout designs.</p>





      </div>
    </div>


    <!-- ========== main contents area - end ========== -->
    <!--#include virtual="/en/assets/include/sns.txt" -->
      <div class="breadcrumbs-list"></div>
  </main>
  <!--#include virtual="/en/assets/include/footer.txt" -->
</body>

</html>