@charset "utf-8";
/* --------------------------------------------------------------------
 pages
-------------------------------------------------------------------- */
/* h1背景画像
-------------------------------------------------------------------- */
/* 第2階層 */
.heading01.-keyvisual {
  background-image: url(https://placehold.jp/32/aaa/333/2732x952.jpg?text=%E7%94%BB%E5%83%8F);
}

.heading01.-SR {
  background-image: url(/template/ja/sustainability/img/index_h1_01.jpg);
}

.technologyMainVisual {
  position: fixed;
  /* min-width: 960px; */
  min-width: 1920px;
  /* height: 430px; */
  height: 480px;
  width: 100%;
  /* top: 0; */
  top: 126px;
  /* left: 0; */
  left: 50%;
  z-index: -1;
  background: url("/ja/technology/assets/img/bg_main_visual_pc.jpg") center 82% no-repeat;
  background-size: cover;
  font-size: 0;

  transform: translateX(-50%);
}

@media only screen and (max-width: 999px) {
  .technologyMainVisual {
    /* height: 330px; */
    width: 100%;
    min-width: auto;
    background: url("/ja/technology/assets/img/bg_main_visual.jpg") center bottom no-repeat;
    background-size: cover;

    top: -103px;
  }
}

.technologyMainVisual .inner {
  width: 100%;
  height: 600px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.technologyMainVisual .mainTitle h1 {
  font-size: 185%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #fff;
  letter-spacing: 0.27em;
  margin-top: -2em;
}

.technologyMainVisual .mainTitle h1 .sm {
  display: block;
  font-size: 0.785em;
  font-weight: normal;
  margin-bottom: 28px;
  letter-spacing: 0.15em;
}

.technologyMainVisual .inner {
  display: none;
}

@media only screen and (max-width: 999px) {
  .technologyMainVisual .inner {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    align-items: flex-end;
    width: 96%;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.technologyMainVisual .inner .layer_left,
.technologyMainVisual .inner .layer_right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 10;
}

@media only screen and (max-width: 999px) {

  .technologyMainVisual .inner .layer_left,
  .technologyMainVisual .inner .layer_right {
    height: 160px;
  }
}

.technologyMainVisual .inner .layer_left img,
.technologyMainVisual .inner .layer_right img {
  max-height: 100%;
}

@media screen and (max-width: 999px) {

  .technologyMainVisual .inner .layer_left img,
  .technologyMainVisual .inner .layer_right img {
    height: 100%;
    max-width: none;
  }
}

.technologyMainVisual .inner .layer_left {
  padding-right: 60px;
}

@media only screen and (max-width: 999px) {
  .technologyMainVisual .inner .layer_left {
    padding-right: 50px;
  }
}

@media screen and (max-width: 699px) {
  .technologyMainVisual .inner .layer_left {
    padding-right: 30px;
  }
}

@media screen and (max-width: 499px) {
  .technologyMainVisual .inner .layer_left {
    padding-right: 0;
  }
}

.technologyMainVisual .inner .layer_right {
  padding-left: 60px;
}

@media only screen and (max-width: 999px) {
  .technologyMainVisual .inner .layer_right {
    padding-left: 50px;
  }
}

@media screen and (max-width: 699px) {
  .technologyMainVisual .inner .layer_right {
    padding-left: 30px;
  }
}

@media screen and (max-width: 499px) {
  .technologyMainVisual .inner .layer_right {
    padding-left: 0;
  }
}

.technologyMainVisual .inner .layer_center {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 20;
}

@media only screen and (max-width: 999px) {
  .technologyMainVisual .inner .layer_center {
    /* height: 200px; */
  }
}

.technologyMainVisual .inner .layer_center img {
  max-height: 100%;
}


.technologyMainHeader {
  position: relative;
  height: 270px;
  width: 100%;
  z-index: 10;

  margin-top: -70px;
}

@media only screen and (max-width: 999px) {
  .technologyMainHeader {
    height: 150px;
  }
}

@media only screen and (max-width: 499px) {
  .technologyMainHeader {
    height: 150px;
  }
}

.technologyMainHeader h1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 185%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #fff;
  letter-spacing: 0.125em;
  line-height: 1.4;
  position: absolute;
}

@media only screen and (max-width: 999px) {
  .technologyMainHeader h1 {
    font-size: 100%;
  }
}

.technologyMainHeader h1 .sm {
  display: block;
  font-size: 0.785em;
  font-weight: normal;
  margin-bottom: 28px;
  letter-spacing: 0.15em;
}

@media only screen and (max-width: 999px) {
  .technologyMainHeader h1 .sm {
    margin-bottom: 5px;
  }
}

/* 第3階層 */
.heading01.-image {
  background-image: url(https://placehold.jp/32/aaa/333/2400x1600.jpg?text=%E7%94%BB%E5%83%8F);
}

.heading01.-products {
  /* background-image: url(/template/ja/sustainability/environment/img/index_h1_01.jpg); */
  background-image: url(https://placehold.jp/32/aaa/333/2400x1600.jpg?text=%E7%94%BB%E5%83%8F);
}
