@charset "utf-8";
/* --------------------------------------------------------------------
 pages
-------------------------------------------------------------------- */
/* h1背景画像
-------------------------------------------------------------------- */
/* 第2階層 */
.heading01.-keyvisual {
  background-image: url(https://placehold.jp/1920x476.jpg);
}

/* 第3階層 */
.heading01.-image {
  background-image: url(https://placehold.jp/32/aaa/333/2400x1600.jpg?text=%E7%94%BB%E5%83%8F);
}

.heading01.-intellectual-property {
  background-image: url(https://placehold.jp/1200x240.jpg);
}
