@charset "UTF-8";

/* 旧.related_links */
.rounded {
  background: #f5f5f5;
  border-radius: 100px;
  max-width: 815px;
  height: auto;
  margin: 1.5em auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 799px) {
  .rounded {
    position: relative;
    padding: 5px 28px;
  }
  .rounded p {
    line-height: 1.5 !important;
  }
}
