@charset "utf-8";

.share-area {
  margin: 0 !important;
  padding: 50px 0 !important;
  position: relative;
  background-color: #fff;
}

@media screen and (max-width: 499px) {
  .share-area {
    padding-bottom: 70px !important;
  }
}

.share-area::after {
  content: '';
  width: 100%;
  height: 30px;
  background-color: #fff;
  position: absolute;
  bottom: -28px;
  pointer-events: none;
}

/* .technologyMainVisual {
  position: fixed;
  min-width: 1920px;
  height: 337px;
  width: 100%;
  top: 144px;
  left: 50%;
  z-index: -1;
  background: url("/ja/technology/assets/img/bg_main_visual_pc.jpg") center 82% no-repeat;
  background-size: cover;
  font-size: 0;
  transform: translateX(-50%);
}

@media screen and (max-width: 999px) {
  .technologyMainVisual {
    height: 247px;
    width: 100%;
    min-width: auto;
    background: url("/ja/technology/assets/img/bg_main_visual.jpg") center bottom no-repeat;
    background-size: cover;
    top: 88px;
    overflow: hidden;
  }
}

.technologyMainVisual .inner {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
} */

/* .technologyMainVisual .mainTitle h1 {
  font-size: 185%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #fff;
  letter-spacing: 0.27em;
  margin-top: -2em;
}

.technologyMainVisual .mainTitle h1 .sm {
  display: block;
  font-size: 0.785em;
  font-weight: normal;
  margin-bottom: 28px;
  letter-spacing: 0.15em;
}

.technologyMainVisual .inner {
  display: none;
} */

/* @media screen and (max-width: 999px) {
  .technologyMainVisual .inner {
    justify-content: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 96%;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

.technologyMainVisual .inner .layer_left,
.technologyMainVisual .inner .layer_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
}

@media screen and (max-width: 999px) {

  .technologyMainVisual .inner .layer_left,
  .technologyMainVisual .inner .layer_right {
    height: 160px;
  }
}

.technologyMainVisual .inner .layer_left img,
.technologyMainVisual .inner .layer_right img {
  max-height: 100%;
}

@media screen and (max-width: 999px) {

  .technologyMainVisual .inner .layer_left img,
  .technologyMainVisual .inner .layer_right img {
    height: 100%;
    max-width: none;
  }
}

.technologyMainVisual .inner .layer_left {
  padding-right: 60px;
}

@media screen and (max-width: 999px) {
  .technologyMainVisual .inner .layer_left {
    padding-right: 50px;
  }
}

@media screen and (max-width: 699px) {
  .technologyMainVisual .inner .layer_left {
    padding-right: 30px;
  }
}

@media screen and (max-width: 499px) {
  .technologyMainVisual .inner .layer_left {
    padding-right: 0;
  }
}

.technologyMainVisual .inner .layer_right {
  padding-left: 60px;
}

@media screen and (max-width: 999px) {
  .technologyMainVisual .inner .layer_right {
    padding-left: 50px;
  }
}

@media screen and (max-width: 699px) {
  .technologyMainVisual .inner .layer_right {
    padding-left: 30px;
  }
}

@media screen and (max-width: 499px) {
  .technologyMainVisual .inner .layer_right {
    padding-left: 0;
  }
}

.technologyMainVisual .inner .layer_center {
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
  z-index: 20;
}

@media screen and (max-width: 999px) {
  .technologyMainVisual .inner .layer_center img {
    height: 200px;
    min-width: 182px;
  }
}

.technologyMainVisual .inner .layer_center img {
  max-height: 100%;
}


.technologyMainHeader {
  position: relative;
  height: 270px;
  width: 100%;
  z-index: 10;

  margin-top: -70px;
}

@media screen and (max-width: 999px) {
  .technologyMainHeader {
    height: 150px;
  }
}

@media screen and (max-width: 499px) {
  .technologyMainHeader {
    height: 150px;
  }
}

.technologyMainHeader h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 185%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #fff;
  letter-spacing: 0.125em;
  line-height: 1.4;
  position: absolute;
}

@media screen and (max-width: 999px) {
  .technologyMainHeader h1 {
    font-size: 100%;
  }
}

.technologyMainHeader h1 .sm {
  display: block;
  font-size: 0.785em;
  font-weight: normal;
  margin-bottom: 28px;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 999px) {
  .technologyMainHeader h1 .sm {
    margin-bottom: 5px;
  }
} */

.heading01.-mv {
  background-image: url('/ja/technology/assets/img/technology-mv.jpg');
}

.introTitle {
  font-family: 'Noto Serif JP', serif;
  font-size: 4rem;
  font-weight: 500;
  color: #001183;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 499px) {
  .introTitle {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.introRead {
  letter-spacing: 0.08em;
}

@media screen and (max-width: 499px) {
  .introRead {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
  }
}

.section_title {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: #001183;
  background: url('/ja/technology/assets/img/section_header_line.png') left center no-repeat;
  padding-left: 75px;
}

@media screen and (max-width: 499px) {
  .section_title {
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    background: url('/ja/technology/assets/img/section_header_line.png') 0 0.6em no-repeat;
    background-size: 36px;
    padding-left: 45px;
  }
}

.section_sub_title {
  font-family: 'Noto Serif JP', serif;
  font-size: 2.6rem;
  font-weight: 500;
  color: #000099;
  margin: 1.5em 0 1em;
}

@media screen and (max-width: 499px) {
  .section_sub_title {
    font-size: 1.5rem;
  }
}

.section_sub_title + .desc {
  line-height: 2;
  letter-spacing: 0.08em;
  margin-top: 1em;
}

.en_title {
  font-size: 1.4rem;
  color: #1e60b6;
  margin-left: 25px;
  font-weight: bold;
}

@media screen and (max-width: 499px) {
  .en_title {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: auto;
  }
}

.search_row {
  padding: 28px 0;
  
}

.search_row._bottom {
  padding-top: 5px;
  border-top: 1px solid #c6c6c6;
}

.search_title {
  font-size: 2rem;
  color: #001183;
  height: 128px;
  display: flex;
  align-items: center;
}

.search_title::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 28px;
  height: 28px;
  background: url('/ja/technology/assets/img/search-icon.png') no-repeat;
  margin-left: 1em;
}

.title_underline {
  color: #1e60b6;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;
  margin-top: 12px;
  clear: both;
}

.technology_bottom {
  display: flex;
}

@media screen and (max-width: 499px) {
  .technology_bottom {
    display: block;
  }
}

.technology_bottom > div {
  width: calc(100% / 3);
}

@media screen and (max-width: 499px) {
  .technology_bottom > div {
    width: 100%;
  }
}

.technology_bottom img {
  height: 100%;
  object-fit: cover;
}

@media print {
  * {
    position: static;
    -webkit-print-color-adjust: exact;
  }
}