<!DOCTYPE html>
<html lang="ja">
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# article: https://ogp.me/ns/article#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="エプソン製品のレイアウトデザインについてご紹介するページです。">
<meta property="og:url" content="https://corporate.epson/ja/technology/design/news/index.html">
<meta property="og:title" content="レイアウト意匠紹介 | 技術 | エプソン">
<meta property="og:description" content="エプソン製品のレイアウトデザインについてご紹介するページです。">
<meta property="og:image" content="https://corporate.epson/assets/img/ogp_logo.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<title>レイアウト意匠紹介 | 技術 | エプソン</title>
<!--#include virtual="/assets/include/common-css.txt" -->
<link rel="stylesheet" href="/ja/technology/assets/css/design_layout.css">
<link rel="stylesheet" href="/ja/technology/assets/css/design.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="/ja/technology/assets/css/fontawesome.min.css">
<!--#include virtual="/assets/include/common-js.txt" -->
<script src="/ja/technology/assets/js/jquery-3.6.0.min.js"></script>
<script src="/ja/technology/assets/js/layout.js"></script>
</head>
<body>
<!--#include virtual="/assets/include/body-first.txt" -->
<!--#include virtual="/ja/assets/include/header.txt" -->
<main id="main">
  <div class="breadcrumbs-list sitemap-link"></div>
<!--#include virtual="/ja/technology/assets/include/nav.txt" -->
<!-- ========== main contents area - begin ========== -->
<div class="contents-area bgDesign">
  <div class="inner">

    <div class="heading01">
      <h1>LAYOUT DESIGN</h1>
      <p class="lead-text">レイアウト意匠紹介</p>
    </div>

    <div class="heading02">
      <h2>大判プリンター市場初<sup>（注1）</sup>となるレイアウト意匠の登録</h2>
    </div>

    <p class="_mt20 tIndent">2020年4月1日に施行された改正意匠法により、新たに内装意匠<sup>（注2）</sup>（以下、レイアウト意匠）が意匠権の対象となり、エプソンのプリンターを用いたレイアウト意匠が大判プリンター市場初<sup>（注1）</sup>の登録となりました。</p>
    <p class="_mt20 tIndent">プリンターの設置レイアウトに関する独創性を確認するため、レイアウト意匠の出願を行ったところ、国内外の公知意匠との合致がなく新規性があり、創作が容易でないことを特許庁により認められたものとなります。なお、登録されたレイアウト意匠は、以下のプリンターを用いて使用することができます。</p>

    <div class="heading03">
      <h3>SC-P8550D/SC-T7750D</h3>
    </div>
    <p class="fsS">Inkjet Printer</p>

    <figure class="_center _mt20 _mb30">
      <img src="/ja/technology/design/layout/img/layout_01.png" width="500" height="285" alt="">
    </figure>

    <p class="_right _bold">商品紹介ページ</p>
    <p class="_right"><a class="arrow _pr25" href="/ja/products/largeprinter/scp8550d/">SC-P8550D</a></p>
    <p class="_right"><a class="arrow _pr25" href="/ja/products/largeprinter/sct7750d/">SC-T7750D</a></p>

    <div class="heading02">
      <h2>様々な設置環境にマッチするデザインでレイアウトが自由</h2>
    </div>

    <p>スタンドと本体が一体となったシンプルですっきりしたデザインにより、お客様の環境に適した様々な設置環境にマッチします。</p>

    <div class="heading02">
      <h2>登録されたレイアウト意匠の紹介</h2>
    </div>

    <p>SC-P8550D/T7750Dを用いたレイアウト意匠を紹介します。</p>
    <p class="_bold">レイアウト意匠2件が新たに登録となりました。</p>

    <p class="_right fsS _mt30">※画像をクリックすると拡大表示されます</p>

    <div class="row df clearfix _mb30">
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_02.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028217/19A5792C99C9E036E59EE708ECCD52E9472465E886ED05518EC0DC0C5B134827/30/ja">日本意匠登録番号1691267（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_03.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028463/7C783503B73120818A42213FDAE15FAC3EE3FE1BB1619B819D26A9C418900036/30/ja">日本意匠登録番号1691357（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_04.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024289/268836519345DF35BABC8B1D590D5E2846B10A03E55C3E22F9198D9043A829F5/30/ja">日本意匠登録番号1689446（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_05.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024291/E494F2BA99C7D744336BC221E45B2548D2EE6513148500A5988C49B87DE4F903/30/ja">日本意匠登録番号1691263（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_06.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024290/58BB7E918C1551810BD71C24C886ADD5C4C866C67D0F23F2FA19A34E04046870/30/ja">日本意匠登録番号1689447（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_07.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028465/CDD7B5E9E5392B9D73E8D73B1ADAAE25051EB15C3947BD754F59B10BB814D2C9/30/ja">日本意匠登録番号1691269（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_08.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-028461/BD7AD75008EB07B7254B5DF12D53B8A271449E97FB89C4A1DDEE73DB7524E0DE/30/ja">日本意匠登録番号1691268（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_09.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027369/F2602E2C288E0F2175D78CE33C74DDE7790323196AC909543244AD4743296CAC/30/ja">日本意匠登録番号1689451（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_10.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027368/3045830F21A156D2F3CD0BD868293834A1D227876386C76E41F279C7B96AA2D4/30/ja">日本意匠登録番号1691266（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_11.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027366/FF629ADC0462BCC7511FC88C0175C523A2C9D3875940F06F4F5D58886DC3BBBC/30/ja">日本意匠登録番号1691265（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_12.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027365/5026F4E9BD1BF88311E66D2D3091F90B7BB5E241D281D4A76A79FAEE9C2B7956/30/ja">日本意匠登録番号1691340（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <img src="/ja/technology/design/layout/img/layout_13.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-027367/333D7A845777E4729DE4C5F283C6FAFF70DDE482BD49B0C9211F89B41FF58C10/30/ja">日本意匠登録番号1691341（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <span class="label_new">NEW</span>
          <img src="/ja/technology/design/layout/img/layout_14.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024296/368CA39F6A0129C1CC7EA6EF11F7C0D959A27C4A2BB5D5432371DA5818F7F9F6/30/ja">日本意匠登録番号1698704（公報リンク）</a>
      </div>
      <div class="grid4 _mb20 tb-50">
        <figure class="_pt5 _pr5 _pb5 _pl5 bdG layoutPicture">
          <span class="label_new">NEW</span>
          <img src="/ja/technology/design/layout/img/layout_15.png" alt="">
        </figure>
        <a class="arrow-blank" target="_blank" href="https://www.j-platpat.inpit.go.jp/c1800/DE/JP-2020-024288/D761168F8E4985559C2411D25EF890D103680E0F80C88D281DECA260A0596891/30/ja">日本意匠登録番号1698771（公報リンク）</a>
      </div>
    </div>

    <!-- 拡大用 -->
    <div id="layoutPictureBack">
      <div id="layoutPictureLarge"><img src="/technology/design/img/layout/layout_02_large.png" alt="" /></div>
      <p class="layoutPictureCloseBtn"><i class="fa fa-times"></i></p>
    </div>

    <p class="fsS _right">公報リンクの出典：特許情報プラットフォーム（J-PlatPat）</p>

    <p class="_mt30 fsS">（注１）2021年12月12日時点で公開されている内装意匠の日本意匠登録公報において、大判プリンター市場では初（エプソン調べ）</p>
    <p class="fsS">（注２）内装意匠とは、店舗や事務所など様々な施設の内装を構成する物品等に関する意匠のことです。ここで紹介したレイアウト意匠は、印刷作業室の内装意匠として登録されたものです。詳細は、特許庁公式ウェブサイト内にある下のリンク等をご参照ください。</p>
    <p class="_ml30 fsS"><a class="arrow-blank" target="_blank" href="https://www.jpo.go.jp/system/laws/rule/guideline/design/kenchiku-naiso-joho.html">改正意匠法「建築・内装デザイナー向け情報」</a></p>
    <p class="fsS">（注）ここで紹介したレイアウト意匠は、登録された意匠をイメージ化したものです。</p>
    <p class="fsS">（注）ここで紹介したレイアウト意匠は、SC-P8550D/T7750Dおよびこれらと同等デザインのエプソンプリンターを用いたレイアウトとして、購入やリースを問わず自由に使用可能です。また、レイアウト意匠を用いず、お客様の使用環境に合わせた自由な設置も可能です。</p>





  </div>
</div>



<!-- ========== main contents area - end ========== -->
<!--#include virtual="/ja/assets/include/sns.txt" -->
  <div class="breadcrumbs-list"></div>
</main>
<!--#include virtual="/ja/assets/include/footer.txt" -->
</body>
</html>
